{% extends "base.html" %}
{% block content %}
{% load socialaccount %}

<main role="main">

    <!-- Where users can click through to see a list of concerts -->
    {% if user.is_authenticated %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome {{ user.username }} !!!</h1>
        <p>Welcome back! Music is a crucial component of our lives. We're glad that you enjoyr musics. So we would like to show you some interesting concerts!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Details &raquo;</a></p>
      </div>
    </div>

    {% else %}
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome!!!</h1>
          <p>Welcome to our website! We recommend you to login or signup for better experience. However, you can still see what's happening here.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Details &raquo;</a></p>
        </div>
    </div>
    {% endif %}
  
    <div class="container">

      <div class="row">
        <div class="col-md-3">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="{% url 'login' %}" role="button">Login &raquo;</a></p>
        </div>
        <div class="col-md-3">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="{% url 'register' %}" role="button">Register &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> <!-- /container -->
    
  </main>

{% endblock content %}