{% extends "base.html" %} 
{% block content %}
<div class="row mt-4">
	<div class="col">
        <h2>Search For Music Events</h2>
        <p>You can filter events by filling this page</p>
    <form action="add_todo/" method="post" class="form-inline">
          Artist: 
          <input type="text" name="artist" class="form-control mb-2 mr-sm-2" placeholder="">
          Genre: 
          
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}