{% extends "account/base.html" %}

{% block head_links %} 
  <title>Home</title>
{% endblock %}

{% block content %}

<main role="main">

    <!-- Where users can click through to see a list of concerts -->
    {% if user.is_authenticated %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome {{ user.username }} !!!</h1>
        <p>Welcome back! Music is a crucial component of our lives. We're glad that you enjoyr musics. So we would like to show you some interesting concerts!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Details &raquo;</a></p>
      </div>
    </div>

    {% else %}
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome!!!</h1>
          <p>Welcome to our website! We recommend you to login or signup for better experience. However, you can still see what's happening here.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Details &raquo;</a></p>
        </div>
    </div>
    {% endif %}
  
    <div class="container">
    {% if user.is_authenticated %}
      <div class="row">
        <div class="col">
          <h2>Set up Your Preference</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col">
          <h2>View Your Concert History</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">Details &raquo;</a></p>
        </div>
      </div>
    {% else %}
        <div class="row">
            <div class="col">
            <h2>Please Login Your Account</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="/accounts/login/" role="button">Login &raquo;</a></p>
            </div>
            <div class="col">
            <h2>Don't Have an Account?</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="/accounts/signup/" role="button">Sign Up &raquo;</a></p>
            </div>
        </div>
      <hr>
  
    </div> <!-- /container -->
    {% endif %}
  </main>

{% endblock content %}